In [7]:
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
# import seaborn as sns
import numpy as np
import pandas as pd

In [8]:
subjects = [{"age":29,"firstname":"Kim","lastname":"Tupaz","height":153,"weight":55,"_id":"0DXZFsYOfgqsYe0Z"},
{"age":37,"firstname":"Premma","lastname":"Rao","height":168,"weight":58,"_id":"0UXFxu10k0En1vDK"},
{"age":31,"firstname":"Mofasser","lastname":"Rahman","height":176,"weight":73,"_id":"19AoxD1bgrDckd2p"},
{"age":29,"firstname":"Kalana","lastname":"Jayarathna","height":171,"weight":89,"_id":"1ZstYhEKzKKfGnMW"},
{"age":24,"firstname":"Ayush","lastname":"Koirala","height":155,"weight":60,"_id":"4GhCukCWtz8iqb98"},
{"age":26,"firstname":"Yasiru","lastname":"Fernando","height":163,"weight":65,"_id":"AlOXZjo87HHkXeaa"},
{"age":25,"firstname":"Oja","lastname":"Bajracharya","height":176,"weight":76,"_id":"EUbKPOSQgjccjtvi"},
{"age":31,"firstname":"Danna","lastname":"Valdez","height":150,"weight":70,"_id":"I1TuySg6fbJ0xeXt"},
{"age":24,"firstname":"Romen","lastname":"Wabina","height":175,"weight":89,"_id":"KNmC3LADpLyH5qJA"},
{"age":35,"firstname":"Wiput","lastname":"Tuvayanond","height":173,"weight":70,"_id":"KPJOUYXzpivbLfsH"},
{"age":25,"firstname":"Anushuya","lastname":"Guragain","height":163,"weight":55,"_id":"LLZjAPTyj7muHsEf"},
{"age":25,"firstname":"Sunsun","lastname":"Kasajoo","height":163,"weight":54,"_id":"LdH95bTaViXIdDBZ"},
{"age":29,"firstname":"Lalaine Jean ","lastname":"Ballais","height":147,"weight":49,"_id":"MMuX9YIh4NTbLZLM"},
{"age":28,"firstname":"Sanjeev","lastname":"Shakya","height":172,"weight":71.5,"_id":"NKdnm6cN3KKAx7R4"},
{"age":24,"firstname":"Pranamya","lastname":"Dhoubhadel","height":177,"weight":77,"_id":"PE8D53oX060qLbdX"},
{"age":28,"firstname":"Binay","lastname":"Karna","height":181,"weight":90,"_id":"QFxq3HxMCbzs6bCt"},
{"age":26,"firstname":"Dipesh","lastname":"Poudel","height":173,"weight":75,"_id":"WAb2Ztvv2ux95P4Q"},
{"age":31,"firstname":"Jaynos","lastname":"Cortes","height":170,"weight":62,"_id":"YbJVcb4vFFjKKlfe"},
{"age":26,"firstname":"Itsaree","lastname":"Khumtaveeporn","height":157,"weight":57,"_id":"bQsRwKxgJiXTzo6P"},
{"age":25,"firstname":"Pranamya 2","lastname":"Dhoubhadel2","height":175,"weight":75,"_id":"bvm1baFzW7l6AO0O"},
{"age":27,"firstname":"Pobai","lastname":"Tang","height":170,"weight":60,"_id":"c9EB3mOQckRCc8Bz"},
{"age":26,"firstname":"Anjali","lastname":"Shrestha ","height":155,"weight":60,"_id":"cbOZWnI7s1y8oLD4"},
{"age":26,"firstname":"Muhammad ","lastname":"Ahmed ","height":172,"weight":72,"_id":"csujYZktn88ftTTv"},
{"age":25,"firstname":"Dummy","lastname":"Test","height":172,"weight":72,"_id":"ddAeJA42PXvwthbW"},
{"age":35,"firstname":"Prakash","lastname":"Subedi","height":165,"weight":56,"_id":"edjEFjNn6G7sj6Pz"},
{"age":27,"firstname":"Krishnath","lastname":"Niresh","height":165,"weight":65,"_id":"eqUcL0HkHZfDt0Xs"},
{"age":25,"firstname":"Ashiya","lastname":"Acharya","height":160,"weight":55,"_id":"ewpnQDEzR8hTqPRY"},
{"age":25,"firstname":"Anna","lastname":"Navolotskaia","height":154,"weight":54,"_id":"kPNKVxgIznp3Vskg"},
{"age":34,"firstname":"Tanka Nath","lastname":"Sharma","height":164,"weight":58,"_id":"psiuhPJmLIa2wC4u"},
{"age":25,"firstname":"Matee","lastname":"Vadrukchid","height":180,"weight":81,"_id":"qyP4saGxcV9UfeQI"},
{"age":24,"firstname":"Julian","lastname":"Syiemlieh","height":170,"weight":70,"_id":"sMNcIak80ohv2eyf"},
{"age":25,"firstname":"Abhishek","lastname":"Regmi","height":170,"weight":72,"_id":"sUZBISq61Y7I5tqQ"},
{"age":23,"firstname":"Bareerah","lastname":"Khalid","height":163,"weight":49,"_id":"wtyNo4LYaWXrkzA7"},
{"age":25,"firstname":"Anushma ","lastname":"Shrestha ","height":153,"weight":51,"_id":"xYdtS1F8tDyjEIgN"},
{"age":24,"firstname":"Puja","lastname":"Bhetwal","height":162,"weight":49,"_id":"zOmNofnVfbR21Y7n"},]

In [11]:
print(len(subjects))

df = pd.DataFrame(subjects)
print(df)

35
    age      firstname       lastname  height  weight               _id
0    29            Kim          Tupaz     153    55.0  0DXZFsYOfgqsYe0Z
1    37         Premma            Rao     168    58.0  0UXFxu10k0En1vDK
2    31       Mofasser         Rahman     176    73.0  19AoxD1bgrDckd2p
3    29         Kalana     Jayarathna     171    89.0  1ZstYhEKzKKfGnMW
4    24          Ayush        Koirala     155    60.0  4GhCukCWtz8iqb98
5    26         Yasiru       Fernando     163    65.0  AlOXZjo87HHkXeaa
6    25            Oja    Bajracharya     176    76.0  EUbKPOSQgjccjtvi
7    31          Danna         Valdez     150    70.0  I1TuySg6fbJ0xeXt
8    24          Romen         Wabina     175    89.0  KNmC3LADpLyH5qJA
9    35          Wiput     Tuvayanond     173    70.0  KPJOUYXzpivbLfsH
10   25       Anushuya       Guragain     163    55.0  LLZjAPTyj7muHsEf
11   25         Sunsun        Kasajoo     163    54.0  LdH95bTaViXIdDBZ
12   29  Lalaine Jean         Ballais     147    49.0  MMuX9YIh4NTbLZLM
13   28        Sanjeev         Shakya     172    71.5  NKdnm6cN3KKAx7R4
14   24       Pranamya     Dhoubhadel     177    77.0  PE8D53oX060qLbdX
15   28          Binay          Karna     181    90.0  QFxq3HxMCbzs6bCt
16   26         Dipesh         Poudel     173    75.0  WAb2Ztvv2ux95P4Q
17   31         Jaynos         Cortes     170    62.0  YbJVcb4vFFjKKlfe
18   26        Itsaree  Khumtaveeporn     157    57.0  bQsRwKxgJiXTzo6P
19   25     Pranamya 2    Dhoubhadel2     175    75.0  bvm1baFzW7l6AO0O
20   27          Pobai           Tang     170    60.0  c9EB3mOQckRCc8Bz
21   26         Anjali      Shrestha      155    60.0  cbOZWnI7s1y8oLD4
22   26      Muhammad          Ahmed      172    72.0  csujYZktn88ftTTv
23   25          Dummy           Test     172    72.0  ddAeJA42PXvwthbW
24   35        Prakash         Subedi     165    56.0  edjEFjNn6G7sj6Pz
25   27      Krishnath         Niresh     165    65.0  eqUcL0HkHZfDt0Xs
26   25         Ashiya        Acharya     160    55.0  ewpnQDEzR8hTqPRY
27   25           Anna   Navolotskaia     154    54.0  kPNKVxgIznp3Vskg
28   34     Tanka Nath         Sharma     164    58.0  psiuhPJmLIa2wC4u
29   25          Matee     Vadrukchid     180    81.0  qyP4saGxcV9UfeQI
30   24         Julian      Syiemlieh     170    70.0  sMNcIak80ohv2eyf
31   25       Abhishek          Regmi     170    72.0  sUZBISq61Y7I5tqQ
32   23       Bareerah         Khalid     163    49.0  wtyNo4LYaWXrkzA7
33   25       Anushma       Shrestha      153    51.0  xYdtS1F8tDyjEIgN
34   24           Puja        Bhetwal     162    49.0  zOmNofnVfbR21Y7n

In [22]:
exclude_subjects = ['ddAeJA42PXvwthbW', 'nan',
                    'sUZBISq61Y7I5tqQ',
                    'LLZjAPTyj7muHsEf',
                    'cbOZWnI7s1y8oLD4',
                    'EUbKPOSQgjccjtvi',
                    'MMuX9YIh4NTbLZLM',
                    'PE8D53oX060qLbdX',
                    'xYdtS1F8tDyjEIgN',
                    '19AoxD1bgrDckd2p',
                    'wtyNo4LYaWXrkzA7', ]
df = df.drop(df[df['_id'].isin(exclude_subjects)].index)
print(df)

    age   firstname       lastname  height  weight               _id
0    29         Kim          Tupaz     153    55.0  0DXZFsYOfgqsYe0Z
1    37      Premma            Rao     168    58.0  0UXFxu10k0En1vDK
3    29      Kalana     Jayarathna     171    89.0  1ZstYhEKzKKfGnMW
4    24       Ayush        Koirala     155    60.0  4GhCukCWtz8iqb98
5    26      Yasiru       Fernando     163    65.0  AlOXZjo87HHkXeaa
7    31       Danna         Valdez     150    70.0  I1TuySg6fbJ0xeXt
8    24       Romen         Wabina     175    89.0  KNmC3LADpLyH5qJA
9    35       Wiput     Tuvayanond     173    70.0  KPJOUYXzpivbLfsH
11   25      Sunsun        Kasajoo     163    54.0  LdH95bTaViXIdDBZ
13   28     Sanjeev         Shakya     172    71.5  NKdnm6cN3KKAx7R4
15   28       Binay          Karna     181    90.0  QFxq3HxMCbzs6bCt
16   26      Dipesh         Poudel     173    75.0  WAb2Ztvv2ux95P4Q
17   31      Jaynos         Cortes     170    62.0  YbJVcb4vFFjKKlfe
18   26     Itsaree  Khumtaveeporn     157    57.0  bQsRwKxgJiXTzo6P
19   25  Pranamya 2    Dhoubhadel2     175    75.0  bvm1baFzW7l6AO0O
20   27       Pobai           Tang     170    60.0  c9EB3mOQckRCc8Bz
22   26   Muhammad          Ahmed      172    72.0  csujYZktn88ftTTv
24   35     Prakash         Subedi     165    56.0  edjEFjNn6G7sj6Pz
25   27   Krishnath         Niresh     165    65.0  eqUcL0HkHZfDt0Xs
26   25      Ashiya        Acharya     160    55.0  ewpnQDEzR8hTqPRY
27   25        Anna   Navolotskaia     154    54.0  kPNKVxgIznp3Vskg
28   34  Tanka Nath         Sharma     164    58.0  psiuhPJmLIa2wC4u
29   25       Matee     Vadrukchid     180    81.0  qyP4saGxcV9UfeQI
30   24      Julian      Syiemlieh     170    70.0  sMNcIak80ohv2eyf
34   24        Puja        Bhetwal     162    49.0  zOmNofnVfbR21Y7n

In [29]:
def compute_max(columnName):
    return df[columnName].max()
def compute_min(columnName):
    return df[columnName].min()
def compute_average(columnName):
    return df[columnName].mean()

columns = ['age', 'height', 'weight']
units = ['', 'cm', 'kg']

for index, column in enumerate(columns):
    print('-----------------------------------------')
    print("Max {}: ".format(column), compute_max(column), units[index])
    print("Min {}: ".format(column), compute_min(column), units[index])
    print("Average {}: ".format(column), compute_average(column), units[index])
    print('-----------------------------------------')

-----------------------------------------
Max age:  37
Min age:  24
Average age:  27.84
-----------------------------------------
-----------------------------------------
Max height:  181 cm
Min height:  150 cm
Average height:  166.44 cm
-----------------------------------------
-----------------------------------------
Max weight:  90.0 kg
Min weight:  49.0 kg
Average weight:  66.42 kg
-----------------------------------------

In [31]:
print(df)

    age   firstname       lastname  height  weight               _id
0    29         Kim          Tupaz     153    55.0  0DXZFsYOfgqsYe0Z
1    37      Premma            Rao     168    58.0  0UXFxu10k0En1vDK
3    29      Kalana     Jayarathna     171    89.0  1ZstYhEKzKKfGnMW
4    24       Ayush        Koirala     155    60.0  4GhCukCWtz8iqb98
5    26      Yasiru       Fernando     163    65.0  AlOXZjo87HHkXeaa
7    31       Danna         Valdez     150    70.0  I1TuySg6fbJ0xeXt
8    24       Romen         Wabina     175    89.0  KNmC3LADpLyH5qJA
9    35       Wiput     Tuvayanond     173    70.0  KPJOUYXzpivbLfsH
11   25      Sunsun        Kasajoo     163    54.0  LdH95bTaViXIdDBZ
13   28     Sanjeev         Shakya     172    71.5  NKdnm6cN3KKAx7R4
15   28       Binay          Karna     181    90.0  QFxq3HxMCbzs6bCt
16   26      Dipesh         Poudel     173    75.0  WAb2Ztvv2ux95P4Q
17   31      Jaynos         Cortes     170    62.0  YbJVcb4vFFjKKlfe
18   26     Itsaree  Khumtaveeporn     157    57.0  bQsRwKxgJiXTzo6P
19   25  Pranamya 2    Dhoubhadel2     175    75.0  bvm1baFzW7l6AO0O
20   27       Pobai           Tang     170    60.0  c9EB3mOQckRCc8Bz
22   26   Muhammad          Ahmed      172    72.0  csujYZktn88ftTTv
24   35     Prakash         Subedi     165    56.0  edjEFjNn6G7sj6Pz
25   27   Krishnath         Niresh     165    65.0  eqUcL0HkHZfDt0Xs
26   25      Ashiya        Acharya     160    55.0  ewpnQDEzR8hTqPRY
27   25        Anna   Navolotskaia     154    54.0  kPNKVxgIznp3Vskg
28   34  Tanka Nath         Sharma     164    58.0  psiuhPJmLIa2wC4u
29   25       Matee     Vadrukchid     180    81.0  qyP4saGxcV9UfeQI
30   24      Julian      Syiemlieh     170    70.0  sMNcIak80ohv2eyf
34   24        Puja        Bhetwal     162    49.0  zOmNofnVfbR21Y7n